@{
    ViewData["Title"] = "Home Page";
}

<h1 class="font-italic text-center"> WELCOME TO THE DEFAULT PAGE &#128522</h1>

<br/>
<h3> Name: Olayimika Akinbola</h3>
<h3> Student Number:8714906</h3>
<h3> Assignment 2</h3>